[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/syntax/start/ale"]
	path = vim/pack/syntax/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/dash.vim"]
	path = vim/pack/plugins/start/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/plugins/start/lightline-ale"]
	path = vim/pack/plugins/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/plugins/start/auto-pairs"]
	path = vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/plugins/start/fzf.vim"]
	path = vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/vim-gitbranch"]
	path = vim/pack/plugins/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/pack/plugins/start/vim-snippets"]
	path = vim/pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "oh-my-zsh-custom/plugins/zsh-z"]
	path = oh-my-zsh-custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/vim-endwise"]
	path = vim/pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/pack/plugins/start/vim-sensible"]
	path = vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/pack/plugins/start/mesonic"]
	path = vim/pack/plugins/start/mesonic
	url = https://github.com/igankevich/mesonic.git
