[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/syntax/start/ale"]
	path = vim/pack/syntax/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/dash.vim"]
	path = vim/pack/plugins/start/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/pack/plugins/start/lightline.vim"]
	path = vim/pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/pack/plugins/start/lightline-ale"]
	path = vim/pack/plugins/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/plugins/start/auto-pairs"]
	path = vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "vim/pack/plugins/start/fzf.vim"]
	path = vim/pack/plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/pack/plugins/start/vim-surround"]
	path = vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/plugins/start/deoplete.nvim"]
	path = vim/pack/plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "vim/pack/plugins/start/nvim-yarp"]
	path = vim/pack/plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "vim/pack/plugins/start/vim-hug-neovim-rpc"]
	path = vim/pack/plugins/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "vim/pack/plugins/start/nerdcommenter"]
	path = vim/pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "vim/pack/plugins/start/vim-gitbranch"]
	path = vim/pack/plugins/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch
[submodule "vim/pack/plugins/start/vim-linux-coding-style"]
	path = vim/pack/plugins/start/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style
[submodule "vim/pack/plugins/start/vim-commentary"]
	path = vim/pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/plugins/start/ultisnips"]
	path = vim/pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/pack/plugins/start/vim-snippets"]
	path = vim/pack/plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/pack/plugins/start/vim-gutentags"]
	path = vim/pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim/pack/plugins/start/deoplete-clangx"]
	path = vim/pack/plugins/start/deoplete-clangx
	url = https://github.com/Shougo/deoplete-clangx
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "vim/pack/plugins/start/vimtex"]
	path = vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "vim/pack/plugins/start/tex-conceal.vim"]
	path = vim/pack/plugins/start/tex-conceal.vim
	url = https://github.com/KeitaNakamura/tex-conceal.vim.git
