[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/syntax/start/ale"]
	path = vim/pack/syntax/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/pack/plugins/start/dash.vim"]
	path = vim/pack/plugins/start/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
